@model IEnumerable<Customer>
@{
  ViewData["Title"] = "Customers";
}
<div class="text-center">
  <h1 class="display-4">@ViewData["Title"]</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Customer customer in Model)
      {
        <tr>
          <td><a href="/customers/detail/@customer.CustomerId">@customer.CustomerId</a></td>
          <td>@customer.CompanyName</td>
          <td>@customer.ContactName</td>
          <td>@customer.City</td>
          <td><a href="/customers?country=@customer.Country">@customer.Country</a></td>
        </tr>
      }
    </tbody>
  </table>
</div>
